@charset "utf-8";

@font-face {
  font-family: "ProximaNova-bold";
  src: url("../fonts/ProximaNovaBold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/RobotoRegular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu-regular";
  src: url("../fonts/UbuntuRegular.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Ubuntu-medium";
  src: url("../fonts/UbuntuMedium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu-bold";
  src: url("../fonts/UbuntuBold.ttf");
  font-style: normal;
  font-weight: 700;
}